.cell {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: darkslategrey;
    margin: 2px;
}

.cellOpened {
    background: darkcyan;
}

.ring:before {
    content: 'o';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}