.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.5);
}

.show {
    display: block;
}

.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    background: antiquewhite;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    border: 2px solid blueviolet;
}

.btn-close {
    margin-bottom: 15px;
    padding: 5px 10px;
    background: darkseagreen;
    border: none;
    border-radius: 10px;
}

.btn-close:hover {
    background: darkgrey;
}

.btn-close:active {
    background: darkseagreen;
}

